/* banner page styles */
.first-page{
padding: 0 50px 30px 20px;

}

.banner-pages{
    
    width: 1500px;
    height: 550px;
    padding: 45px 20px 40px 10px;
    border: 1px solid;
    background-color: rgb(30, 6, 161);
    display: flex;
    align-items: center;
    
}

.page{
    margin-left: 80px;
}

.page h1{
    width: 485px;
    height: 230px;
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.page a{
padding: 5px 10px;
background-color: rgb(245, 21, 58);
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: none;
}

.page img{
    width: 556px;
    height: 438px;
 margin-right: 30px;
}

/*----------------
 players list
 ----------------- */
 
.players{
    background-color: silver;
    column-count: 3;
    justify-content:space-evenly;
}

.player{
    width: 340px;
    height: 440px;
    margin: 0 40px 10px 40px;
    row-gap: 15px;
    grid-column-gap: 30px;
    background-color: ghostwhite;
    border: 2px solid gray 
}

.player h3,p{
    margin-left: 15px;
}

 .player img{
width: 320px;
height: 276px;
padding:10px;
}

 /* all-highlights */

.live-site{
    display: flex;
    column-gap: 100px;
    padding-top: 150px;
    justify-content: center;
    align-items: center;
}

 .all-highlights{
     width: 400px;
     height: 241px;
     margin-left: 20px;
}

.all-highlights h1,a{
     margin-left: 20px;
}

 .all-highlights h1{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .all-highlights a{
     text-decoration: none;
     padding: 5px 15px;
     background-color: #E02C6D;
 }

.images img{
    width: 567px;
    height: 427px;
}

/* bangladesh football team */

.bangladesh h1{
    text-align: center;
    padding-top: 50px;
    color:green;
}

.color{
    color: red;
}

.bangladesh img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* end-page */

.end-page{
    width: 1200px;
    height: 300px;
    padding-top: 150px;
   
}

.logo img{
    width: 483px;
    height: 110px;
}

.footer{
   text-align: center;
   margin: 0 auto;
}

.social-icons a{
text-align: center;
}